In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("final.csv")
df

,instructor,course,course_name,num_excellence_awards,num_outstanding_awards,uiuc_award,national_award,rmp_num_reviews,rmp_rating,A+,...,D,D-,F,num_sections,gened,num_semesters,num_students,avg_gpa,total_faculty_awards,teaching_next_semester
0,Kang,AAS 100: Intro Asian American Studies,Intro Asian American Studies,0.0,0.0,[],[],0.0,NaN,0.060000,...,0.020000,0.0,0.040000,12.0,"Social & Beh Sci - Soc Sci, Cultural Studies -...",7,50.0,3.374000,0,False
1,Espiritu,AAS 100: Intro Asian American Studies,Intro Asian American Studies,1.0,1.0,[],[],17.0,3.8,0.296296,...,0.037037,0.0,0.074074,2.0,"Social & Beh Sci - Soc Sci, Cultural Studies -...",2,27.0,3.370741,0,False
2,Lee,AAS 100: Intro Asian American Studies,Intro Asian American Studies,NaN,NaN,[],[],NaN,NaN,0.109589,...,0.013699,0.0,0.027397,8.0,"Social & Beh Sci - Soc Sci, Cultural Studies -...",6,73.0,3.529863,0,False
3,Zheng,AAS 100: Intro Asian American Studies,Intro Asian American Studies,0.0,0.0,[],[],0.0,NaN,0.070485,...,0.000000,0.0,0.017621,9.0,"Social & Beh Sci - Soc Sci, Cultural Studies -...",5,227.0,3.518634,0,False
4,Rosado-Torres,AAS 100: Intro Asian American Studies,Intro Asian American Studies,0.0,0.0,[],[],0.0,NaN,0.362500,...,0.000000,0.0,0.000000,3.0,"Social & Beh Sci - Soc Sci, Cultural Studies -...",2,80.0,3.733750,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7427,Aldridge,VM 652: Large Animal Medicine and Surgery I,Large Animal Medicine and Surgery I,11.0,2.0,[],[],0.0,NaN,0.000000,...,0.088339,0.0,0.007067,4.0,NaN,2,566.0,2.469965,0,False
7428,Ridgway,VM 653: Small Animal Medicine and Surgery II,Small Animal Medicine and Surgery II,2.0,0.0,[],[],0.0,NaN,0.000000,...,0.099065,0.0,0.005607,12.0,NaN,4,1605.0,2.581308,0,False
7429,Aldridge,VM 654: Large Animal Medicine and Surgery II,Large Animal Medicine and Surgery II,11.0,2.0,[],[],0.0,NaN,0.000000,...,0.037383,0.0,0.000000,8.0,NaN,4,1070.0,2.813084,0,False
7430,Ridgway,VM 655: Small Animal Medicine and Surgery III,Small Animal Medicine and Surgery III,2.0,0.0,[],[],0.0,NaN,0.000000,...,0.033766,0.0,0.000000,9.0,NaN,3,1155.0,2.846753,0,True
7431,Garrett,VM 656: Large Animal Medicine and Surgery III,Large Animal Medicine and Surgery III,2.0,1.0,[],[],0.0,NaN,0.000000,...,0.023377,0.0,0.000000,6.0,NaN,3,770.0,2.893506,0,True

In [11]:
df.columns

Index(['instructor', 'course', 'course_name', 'num_excellence_awards',
       'num_outstanding_awards', 'uiuc_award', 'national_award',
       'rmp_num_reviews', 'rmp_rating', 'A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+',
       'C', 'C-', 'D+', 'D', 'D-', 'F', 'num_sections', 'gened',
       'num_semesters', 'num_students', 'avg_gpa', 'total_faculty_awards',
       'teaching_next_semester'],
      dtype='object')

In [13]:
df[ df["national_award"] != "[]"]

,instructor,course,course_name,num_excellence_awards,num_outstanding_awards,uiuc_award,national_award,rmp_num_reviews,rmp_rating,A+,...,D,D-,F,num_sections,gened,num_semesters,num_students,avg_gpa,total_faculty_awards,teaching_next_semester
1564,Moore,CHEM 332: Elementary Organic Chem II,Elementary Organic Chem II,1.0,2.0,['Campus Award for Excellence in Undergraduate...,['National Academy of Sciences'],0.0,NaN,0.538874,...,0.005362,0.0,0.010724,3.0,NaN,2,373.0,3.863432,1,False
1572,Denmark,CHEM 437: Organic Chemistry Lab,Organic Chemistry Lab,4.0,0.0,[],['National Academy of Sciences'],6.0,3.4,0.238095,...,0.000000,0.0,0.047619,1.0,Advanced Composition,1,21.0,3.253810,0,False
1574,Gruebele,CHEM 440: Physical Chemistry Principles,Physical Chemistry Principles,4.0,3.0,[],['National Academy of Sciences'],33.0,4.6,0.094595,...,0.000000,0.0,0.000000,5.0,NaN,5,296.0,3.353716,0,False
1577,Gruebele,CHEM 442: Physical Chemistry I,Physical Chemistry I,4.0,3.0,[],['National Academy of Sciences'],33.0,4.6,0.000000,...,0.000000,0.0,0.000000,2.0,NaN,2,24.0,3.681250,0,False
1587,Denmark,CHEM 530: Structure and Spectroscopy,Structure and Spectroscopy,4.0,0.0,[],['National Academy of Sciences'],6.0,3.4,0.111111,...,0.000000,0.0,0.000000,6.0,NaN,6,117.0,3.447692,0,False
2590,Hajek,ECE 314: Probability in Engineering Lab,Probability in Engineering Lab,3.0,0.0,[],['National Academy of Engineering'],0.0,NaN,0.118156,...,0.002882,0.0,0.017291,19.0,NaN,12,347.0,3.642853,0,True
2723,Hajek,ECE 515: Control System Theory & Design,Control System Theory &amp; Design,3.0,0.0,[],['National Academy of Engineering'],0.0,NaN,0.116667,...,0.000000,0.0,0.000000,1.0,NaN,1,60.0,3.566667,0,False
4281,Berenbaum,IB 435: Critical Evaluation of Herbal Remedies,Critical Evaluation of Herbal Remedies,7.0,1.0,"[""LAS - Dean's Awards for Excellence in Underg...",['National Academy of Sciences'],21.0,4.5,0.000000,...,0.000000,0.0,0.015504,6.0,NaN,6,129.0,3.852713,1,False

In [14]:
df["national_award"].unique()

array(['[]', "['National Academy of Sciences']",
       "['National Academy of Engineering']"], dtype=object)